<ul{{>utils-attr}}>
  {{~#each colours}}
  <li>
    <span class="sg-swatch sg-swatch-{{name}}"></span>
    <span class="sg-label sg-label-{{name}}">{{title}}</span>
  </li>
  {{~/each}}
</ul>
<ul{{>utils-attr}}>
  {{~#each greys}}
  <li>
    <span class="sg-swatch sg-swatch-{{name}}"></span>
    <span class="sg-label sg-label-{{name}}">{{title}}</span>
  </li>
  {{~/each}}
</ul>
